aiohappyeyeballs==2.4.3
aiohttp==3.9.3
aiolimiter==1.1.0
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
babel==2.16.0
bce-python-sdk==0.9.23
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.7.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
Chroma==0.2.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
dashscope==1.20.13
dataclasses-json==0.6.4
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.9
diskcache==5.6.3
distro==1.9.0
exceptiongroup==1.2.0
executing==2.1.0
faiss-cpu==1.9.0
fastapi==0.115.5
fastjsonschema==2.20.0
fqdn==1.5.1
frozenlist==1.4.1
future==1.0.0
gitdb==4.0.11
GitPython==3.1.42
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
httpx-sse==0.4.0
idna==3.6
ipykernel==6.29.5
ipython==8.29.0
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.3
jiter==0.7.1
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.17
langchain-experimental==0.3.3
langchain-openai==0.2.9
langchain-text-splitters==0.3.2
langchainhub==0.1.21
langgraph==0.2.53
langgraph-checkpoint==2.0.7
langgraph-sdk==0.1.40
langserve==0.3.0
langsmith==0.1.144
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
msgpack==1.1.0
multidict==6.0.5
multiprocess==0.70.17
mypy-extensions==1.0.0
narwhals==1.10.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
openai==1.55.0
orjson==3.10.12
overrides==7.7.0
packaging==23.2
pandas==2.2.1
pandocfilters==1.5.1
parso==0.8.4
pillow==10.2.0
platformdirs==4.3.6
prettytable==3.11.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==4.25.3
psutil==6.1.0
pure_eval==0.2.3
pyarrow==15.0.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pydeck==0.8.1b0
pyecharts==2.0.6
Pygments==2.17.2
pypdf==5.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2024.1
pywin32==308
pywinpty==2.0.14
PyYAML==6.0.1
pyzmq==26.2.0
qianfan==0.4.12.1
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
Send2Trash==1.8.3
setuptools==75.5.0
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.28
sse-starlette==1.8.2
stack-data==0.6.3
starlette==0.41.3
streamlit==1.32.1
tabulate==0.9.0
tenacity==8.2.3
terminado==0.18.1
tiktoken==0.8.0
tinycss2==1.4.0
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
typer==0.13.1
types-python-dateutil==2.9.0.20241003
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.32.1
watchdog==5.0.3
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
wikipedia==1.4.0
yarl==1.9.4
